.title {
  color: $accent-color;
  font-size: 2.6rem;
}

.subtitle {
  color: $secondary-color;
  font-size: 1.2rem;
}

.sort__button {
  color: $secondary-color;
  font-size: 1rem;
  background: none;
  font-family: $font-family;
  // border: 5px, solid, black;
}
.type__button {
  color: $secondary-color;
  font-size: 1rem;
  background: none;
  font-family: $font-family;
  // border: 5px, solid, black;
}
