.title {
  color: $accent-color;
  font-size: 2.6rem;
}

.subtitle {
  color: $secondary-color;
  font-size: 1.2rem;
}

.sort__button {
  color: $secondary-color;
  font-size: 1.2rem;
  border: 5px, solid, black;
}
